.cover__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 32px auto 195px;
    padding: 0 auto;
    max-width: 360px;
    position: relative;
}

@media (min-width: 1280px) {
    .cover__subtitle {
        margin: 32px auto 245px;
    }
}

@media (max-width: 768px) {
    .cover__subtitle {
        margin: 32px auto 115px;
    }
}

@media (max-width: 500px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        margin: 16px auto 33px;
    }
}