.header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 28px;
    box-sizing: border-box;
    max-width: 928px;
    align-items: baseline;
}

@media (min-width: 1280px) {
    .header{
        max-width: 1184px;
    }
}

@media (max-width: 1023px) {
    .header{
        margin: 0 24px;    
    }
}

@media (max-width: 767px) {
    .header{
        margin: 0 16px;
        padding-top: 16px; 
    }
}