.place {
    display: grid;
    grid-template-columns: minmax(min-content, 440px) minmax(min-content, 456px);
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, 440px);
    box-sizing: border-box;
    column-gap: 32px;
    row-gap: 48px;
    padding: 0 48px 80px;
    margin: 0;
}