.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 0 auto;
    padding: 195px 0 0 0;
    max-width: 560px;
    z-index: 2;
}